.raiz {
     -fx-background-color: #FF0000;
}

#btCero {
    -fx-font: 22 arial;
    -fx-base: #000000;
    -fx-text-fill: white;
}

#btSyR {
    -fx-font: 22 arial;
    -fx-base: white;
    -fx-text-fill: black;
}

#lbContador {
    -fx-text-fill: blue;
}